<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assingment 3: form tag</title>
  </head>
  <body>
    <h1>실습 풀이</h1>
    <p>실습 풀이를 시작합니다!</p>
    <a href="/practice1">실습 1 이동</a>
    <a href="/practice2">실습 2 이동</a>
  </body>
</html>
