* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 370px;
  height: 350px;
  border-radius: 20px;
  padding: 30px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
}

.profile-image {
  width: 200px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-content {
  text-align: center;
}

li {
  list-style: none;
  padding-left: 0;
}
