<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment 5: file upload with multer</title>

    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <h1>파일 업로드 실습</h1>

    <form action="/result" method="POST" enctype="multipart/form-data">
      <input type="text" name="id" placeholder="아이디" /> <br />
      <input type="password" name="password" placeholder="비밀번호" /> <br />
      <input type="text" name="name" placeholder="이름" /> <br />
      <input type="number" name="age" placeholder="나이" /> <br />
      <input type="file" name="porfileImg" /> <br />
      <br />
      <button type="submit">회원 가입</button>
    </form>
  </body>
</html>
